.av-slider {
  width: 100%;
  overflow: visible;

  .av-slider-track {
    height: 4px;
    position: relative;
    overflow: visible;
    
    border-radius: 999px;
    background-color: rgb(199, 199, 203);
  }

  .av-slider-thumb {
    height: 24px;
    width: 24px;
    border-radius: 999px;

    background-color: rgb(77, 80, 100);
    // transition: all 100ms;
  }
}